---
import type { MarkdownInstance } from 'astro';

interface FrontMatter {
    title: string;
    description: string;
}

function getFileName(x: any) {
    return x.file.split("/").at(-1)!.split(".")[0];
}

import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
const posts = await Astro.glob<MarkdownInstance<FrontMatter>>("../posts/**/*.md");
---

<Layout title="Togarashi's blog">
	<main>
		<h1>Welcome to my blog 👋</h1>
		<p>
			Welcome to my blog, it's mostly just garbage I've transcribed from my thoughts
		</p>
		<ul role="list" class="posts" style="">
			{ posts.map(p => (
				<Card
					href={"/blag/posts/" + getFileName(p) }
					title={p.frontmatter.title}
					body={p.frontmatter.description}
				/>
			)) }
		</ul>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}

	.posts {
		display: grid;
		gap: 1rem;
		margin-top: 5px;
		padding: 5;
	}
</style>
